.root {
  /*
  margin: 0.5em;
  */
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  justify-content: center;    /* Add this */
  

  margin: 0;
  border: 0;
  width: 100%;

}

