
.root {
  margin: 0 1em;
  text-align: center;
}

.text {
  color: #888;
  
  width: auto;
  margin: 20px;
}

.button {
  border: #666;
  border-radius: 5px;
  padding: 1.5em 1em;
  background-color: #AD1457;
  color: #eaeaea;

  width: -webkit-fill-available;
  margin: 20px;
}


.button:hover {
  background-color: #EC407A;
}


@media (min-width: 450px) { 
  .button {
    width: auto;
  }
}
